@{
    ViewBag.Title = "Index";
}

<h2>FOOD INGREDIENTS</h2> <br /> <br />

@if (TempData["ingredientList"] != null)
{
    <h3 class="jumbotron">@TempData["ingredientList"]</h3>
}

@if(TempData["cost"] != null)
{
    <p class="label label-danger"> Cost : @TempData["cost"]</p>
}
<div class="jumbotron">
    <p class="lead">We will tell you if the amount of ingredients are lower than indicated </p>
    @if (ViewBag.msg != null)
    {
        var str = ViewBag.msg + "Miktarı Yetersiz";

        <p>@str</p>
    }
</div>